button,
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--beige-super);
    background: none;
    border: none;
    border-radius: 18px;
    outline: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--accent);
    border-radius: 18px;
    border: 2px solid var(--accent);

    &:hover {
        border: 2px solid var(--beige);
    }
}

.btn-secondary {
    color: var(--beige-dark);
    background-color: var(--orange);
}



.btn-back {
    color: var(--accent);
    cursor: pointer;
    z-index: 100;
}

.btn-link {
    width: fit-content;
    margin: 1rem 0;
}

.link-more {
    align-self: center;
    gap: 0.5rem;
    font-weight: bold;

    transition: 0.3s all ease;

    &:visited,
    &:active {
        color: var(--accent);
    }

    &:hover {
        color: var(--black);
    }
}

.sublink-more {
    margin-top: 0.3rem;
    padding: 0 0.3rem;
    align-items: center;
    gap: 0.3rem;
    color: #41a0c23b;
    color: #1e5c723b;
}


.tag-link {
    padding: 0.5rem 1.5rem;
    background-color: var(--gray-super-light);
    border-radius: 15px;
    text-decoration: none;
    color: var(--black);
    transition: 0.9s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--accent);
    }
}

.to-top {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    background-color: var(--gray-super-light);
    opacity: 0.8;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    z-index: 99;

    .icon-to-top {
        color: var(--accent);
        opacity: 1;
    }
}