footer {
    width: 100%;
    height: 50vh;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    position: relative;
    color: var(--white);
    // background-image: url("../../../public/assets/footer.svg");
    background-image: url("../../assets/footer.svg");
    background-size: cover;
    background-position: top;

    .footer-content {
        margin-top: 5.2rem;
    }

    .info-text-footer {
        font-size: 0.9em;
        font-weight: 300;
        position: absolute;
        bottom: 0.2rem;
        color: var(--blue-dark);
    }
}



@media screen and (max-width: 600px) {
    footer {
        height: 32vh !important;

        .footer-content {
            margin-top: 3.5rem !important;
        }
    }

}