footer {
    padding: 1.5rem 0;

    .footer-contact {
        display: flex;
        place-items: center;
        gap: 2.5rem;
        margin: 1.5rem 0;
    }

    .footer-info {
        display: flex;
        gap: 1.5rem;
        align-items: flex-end;
        justify-content: space-between;
    }

    .social {
        display: flex;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    footer {
        height: 32vh !important;


    }

}