form {
    label {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        margin: 0.8rem 0;

        input,
        select {
            padding: 0.5rem;
            border-radius: 15px;
            border: 1px solid var(--beige-dark);
            background-color: var(--white);
            color: var(--beige-dark) !important;
            outline-color: var(--beige-dark);

            &::placeholder {
                color: var(--beige-gray) !important;
            }

            &:hover {
                color: var(--beige-dark);
            }
        }

    }

    .label-checkbox {
        display: flex;
        flex-direction: row !important;
        align-items: flex-start;
        gap: 0.5rem;

        input[type="checkbox"] {
            width: 1.5rem;
            height: 1.5rem;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            border: 1px solid var(--beige-dark) !important;
            background: var(--white) !important;
            outline-color: var(--beige-dark);
            cursor: pointer;

            &:checked {
                background: var(--accent) !important;
            }

            &:checked::before {
                content: '\2714';
                color: white;
                display: block;
                text-align: center;
                font-size: 16px;
            }

            -webkit-appearance: none;
            /* For WebKit browsers */
            -moz-appearance: none;
            /* For Firefox */
            appearance: none;
            /* Standard property */
        }

        a {
            color: var(--accent);
            transition: color 0.5s ease;

            &:hover {
                color: var(--beige-dark);
            }
        }
    }
}