header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: all 0.85s ease-in-out;

    .logo-link {
        font-size: 1.5em;
        font-weight: bold;
        color: var(--accent);
        text-decoration: none;
    }

    nav {
        margin-left: auto;
    }

    svg {
        cursor: pointer;
    }

    .mobile-icons {
        display: none;
    }

    .header-info-container {
        display: flex;
        gap: 1rem;

        .header-info {
            order: 2;
        }

        button {
            width: fit-content;
            height: fit-content;
            order: 1;
            align-self: center;
            margin-left: 1rem;
        }
    }

    .header-navbar-container {
        display: flex;
        gap: 1rem;
    }
}

@media screen and (max-width: 850px) {
    header {
        height: auto;
        flex-direction: column;
        padding: 0.5rem 0;

        .header-logo-container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .mobile-icons {
                display: block;
            }
        }

        nav {
            flex-direction: column;
            align-self: center !important;
            gap: 1rem;
        }

        .header-info-container {
            display: flex;
            flex-direction: column;

            button {
                order: 2;
                margin-top: 1rem;
                margin-left: 0;
            }
        }

        .header-navbar-container {
            display: none;
        }

        .header-navbar-container.active {
            display: block;
        }
    }
}