.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    background: rgb(12, 13, 54);
    background: linear-gradient(70deg, rgba(12, 13, 54, 1) 11%, rgba(9, 9, 121, 1) 63%, rgba(94, 34, 181, 1) 100%);
    border-radius: 5px;

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin: 3.5rem 2rem;

        &--highlight {
            color: #8E48F3;
            font-size: 2.5rem;
        }

        &--minimise {
            color: #5E6A97;
            font-size: 1.2rem;
        }
    }

    .hero-card {
        width: 20rem;
        height: 10rem;
        // min-width: 320px;
        // min-height: 10vh;
        margin: 0.8rem;
        display: flex;
        place-items: center;
        justify-content: center;
        place-items: center;
        border-radius: 5px;
        background-color: var(--blue-dark);
        // object-fit: contain;

        // &__text {
        //     color: var(--white);
        //     font-size: 2rem;
        // }

        &__image {
            // width: 80%;
            // height: 80%;
            border-radius: 5px;
            object-fit: contain;
        }
    }

    &__preview {
        display: flex;
        gap: 1rem;
        margin-right: 3rem;

        &--part-1,
        &--part-2 {
            display: flex;
            flex-direction: column;
            // gap: 1rem;
            height: 50rem;
        }

        &--part-2 {
            // border: 2px solid green;
            justify-content: space-around;
        }
    }
}