nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

    a {
        text-decoration: none;
        font-weight: bold;
        color: var(--beige-dark);
        transition: 0.5s all ease;

        &:hover {
            color: var(--accent);
        }
    }

    a.active {
        color: var(--accent);
        text-decoration: solid underline var(--accent);
        text-underline-offset: 0.2rem;

        &:hover {
            color: var(--accent);
            text-underline-offset: 0.5rem;
        }
    }
}

// a:link,
// a:visited {
//     text-decoration: none;
//     color: var(--black);
// }