@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Kodchasan-Regular';
    src: local('Kodchasan-Regular'), url(../../../public/assets/font/Kodchasan/Kodchasan-Regular.ttf) format('ttf'),
}

:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    font-family: "Kodchasan", sans-serif;

    // COLORS
    --accent: #BAC67F;
    --accent-light: #c9d19f;
    --white: #f9f7f0;
    --black: #1E1E1E;
    --beige: #FDF1D2;
    --beige-2: #a39981;
    --beige-light: #FFFAED;
    --beige-super-light: #faf3e1;
    --beige-dark: #60320D;
    --beige-super-dark: #351c07;
    --beige-green: #AE9350;
    --blue: #2F338E;
    --blue-light: #656bde;
    --blue-super-light: #a1a5f6;
    --blue-dark: #13153d;
    --red: #f27349;
    --orange: #F6C970;
    --green: #3EA45F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: linear-gradient(50deg, var(--beige-superlight), var(--beige));
}

body {
    background-color: var(--beige-light);
    color: var(--beige-dark);
    overflow-y: hidden;
}

.app {
    display: flex;
    flex-direction: column;

    p {
        line-height: 1.5em;
    }
}


::selection {
    background: var(--accent);
}