.tag {
    width: fit-content;
    margin: 0.9rem 0;
    padding: 0.3rem 0.8rem;
    color: var(--gray-dark);
    background-color: var(--gray-super-light);
    text-decoration: none;
    border-radius: 15px;
}

.small-text {
    font-size: 0.8rem;
}

.big-text {
    font-size: 1.2rem;
}

.bold-text {
    font-weight: bold;
}