.page {
    padding: 2rem;
    color: var(--white);
}

// ABOUT PAGE
.about-page {
    h1 {
        margin: 1.5rem 0;
    }

    p {
        margin-bottom: 0.8rem;
        padding-right: 1.5rem;
    }

    .about-content {
        display: flex;
        justify-content: space-between;
    }

    .about-content-text {
        display: flex;
        flex-direction: column;

        .about-text {
            display: flex;
            flex-direction: column;

            button {
                width: fit-content;
                margin: 1.5rem 0;
            }
        }
    }

    .about-img-small {
        margin-left: auto;
        margin-top: -2.6rem;
    }

    .about-images {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        gap: 1rem;
        margin-top: -2.3rem;
    }
}

// THERAPISTS PAGE
.therapists-page {
    h1 {
        margin: 1.5rem 0;
    }

    .text {
        width: 55rem;
    }

    .therapists-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 2rem 0 1.5rem 0;

        .therapist-card {
            width: 33rem;
            display: flex;
            gap: 1.5rem;
            padding: 2rem;
            border-radius: 5px;
            background-color: var(--beige);
            transition: all 0.8s ease;

            .therapist-info {
                display: flex;
                flex-direction: column;

                h3 {
                    margin: 0.5rem 0;
                    font-size: 1.35em;
                }

                p {
                    padding: 0.1rem 0;
                }

                button {
                    width: fit-content;
                    margin: 1.5rem 0;
                }

                .experince {
                    color: var(--beige-dark);
                }
            }

            img {
                width: 12rem;
            }

            &:hover {
                border-left: 1px solid var(--accent);
            }
        }
    }
}

// SERVICES PAGE
.services-page {
    h1 {
        margin: 1.5rem 0;
    }

    .services-list-container {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0 2.5rem 0;
    }

    .services-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 0.5rem;
        cursor: pointer;

        li {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding-bottom: 0.5rem;
            border-radius: 5px;
            border-top: 1px solid var(--beige);
            transition: all 0.8s ease;

            .services-title {
                width: 24rem;
                padding: 0.8rem 0;
                text-align: center;
            }

            .services-img {
                height: 8rem;

                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            // p {
            //     &:hover {
            //         color: var(--accent);
            //     }
            // }

            &:hover {
                background-color: var(--accent);
                // border: 1px solid var(--accent);
            }
        }
    }

    .offer {
        gap: 0;

        .offer-text {
            background-color: var(--beige);
            padding: 1.5rem;
            border-radius: 0 5px 5px 0;
        }
    }
}

// CONTACT PAGE
.contact-page {
    display: flex;
    margin: 1.5rem 0;

    h1 {
        padding-bottom: 1.5rem;
    }

    p {
        padding-bottom: 0.9rem;
    }

    button {
        margin: 1.0rem 0;
    }

    .contact-info {
        margin: 1.5rem 0;

        p {
            padding: 0.4rem 0;
        }


    }

    .contact-btn {
        display: flex;
        gap: 1.5rem;
    }
}