.page {
    padding: 2rem;
    color: var(--white);
}

// TIPS PAGE
.tip-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: rgb(9, 58, 79);
    background: linear-gradient(2deg, rgba(9, 58, 79, 1) 0%, rgba(14, 94, 118, 1) 100%);

    h2,
    h3 {
        margin-bottom: 1rem;
    }

    .tip-content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;

        .tip-content-text {
            width: 50vw;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p {
                line-height: 1.5;
            }

        }
    }

    p {
        line-height: 1.6;
    }

    img {
        margin-top: -1rem;
        border-radius: 10px;
    }

    .btn-back {
        width: fit-content;
        margin-top: 3rem;
    }

}



// ALL FISH PAGE
.page-all-fish {
    padding: 1rem;
    background: rgb(9, 58, 79);
    background: -moz-linear-gradient(356deg, rgba(9, 58, 79, 1) 0%, rgba(14, 94, 118, 1) 100%);
    background: -webkit-linear-gradient(356deg, rgba(9, 58, 79, 1) 0%, rgba(14, 94, 118, 1) 100%);
    background: linear-gradient(356deg, rgba(9, 58, 79, 1) 0%, rgba(14, 94, 118, 1) 100%);

    h1 {
        margin-bottom: 1rem;
    }


    .all-fish-list {
        margin: 3em 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        gap: 3rem;
        align-items: center;
        justify-content: center;
        list-style: none;
        color: var(--black);

        .all-fish__item {
            background: rgb(198, 218, 230);
            background-color: var(--blue-light-2);
            box-shadow: none;
            border-radius: 5px;
            transition: all 0.5s ease;

            &:hover {
                box-shadow: -1px 12px 0px 0px var(--blue-light-2);
            }

            .card-content {
                background: rgb(233, 252, 255);
                background: linear-gradient(90deg, rgba(225, 242, 244, 0.8) 0%,
                        rgba(206, 240, 246, 0.75) 100%);

                border-radius: 5px;
            }

            .card-img {
                width: 15rem;
                position: relative;
                z-index: 200;

                img {
                    filter: drop-shadow(0rem 0.5rem 0.8rem rgb(5, 38, 47));
                }
            }

            .fish-family {
                transition: all 0.3s ease;

                &:hover {
                    border-left: 2px solid var(--accent);
                }
            }


            h3 {
                color: var(--black);
            }

            .fish-habitat {
                p {
                    margin: 0.5rem 0;
                    padding-left: 0.5rem;
                    color: var(--black);
                }

                .icon {
                    color: var(--black);
                }
            }
        }
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: var(--black);
    }

    .card-content {
        padding-top: 0 !important;
        position: relative;
    }

    .all-fish-header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 0.8rem;
        padding-top: 0.5rem;
    }

    .fish-family-tag {
        position: absolute;
        top: -1.3rem;
        right: 0.5rem;
        color: var(--black);
        background-color: #c8a564cf;
    }

    .card-title-main {
        color: var(--blue);
    }

    .card-title-langs {
        display: flex;
        gap: 1rem;

        .card-title-lang {
            text-transform: capitalize;
            font-size: 0.9em;
            color: var(--blue-light-2);
        }
    }

    .filter__search {
        width: fit-content;
        background-color: var(--white);
        color: var(--blue);

        input,
        .filter__search-input {
            color: var(--blue) !important;
            color: #052653 !important;
            background-color: var(--white);
        }
    }

    .filter__select {
        background-color: var(--white);
        color: var(--blue);
    }
}



// FISH FAMILIES PAGE
.families-page {
    h2 {
        text-align: center;
    }

    .families-container {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        flex-wrap: wrap;

        .families-fish {
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            transition: 1s ease;

            img {
                filter: drop-shadow(0.2rem 0.5rem 0.8rem rgb(5, 38, 47, 0.8));
            }

            .families-fish-link {
                text-decoration: none;
                color: var(--blue);
            }


            &:hover {
                a {
                    transition: 0.9s ease;
                    color: var(--white);
                }

                .families-fish-img {
                    transition: 0.9s ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}


// FISH FAMILY PAGE
.fish-family-page {
    margin: 0 auto !important;
    background: rgb(9, 58, 79);
    background: linear-gradient(2deg, rgba(9, 58, 79, 1) 0%, rgba(14, 94, 118, 1) 100%);

    .fish {
        gap: 2rem;

        img {
            width: 100%;
        }

        .fish-content {

            h2 {
                margin: 1rem 0;
            }

            p {
                line-height: 1.5;
            }

            .description {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        .fish-list {
            display: flex;
            gap: 1rem;
            margin: 2rem 0;
            list-style: none;

            .fish-list-item {
                padding: 0.5rem 1.5rem;
                background-color: var(--accent);
                border-radius: 15px;
                transition: 0.9s ease;
                cursor: pointer;

                .fish-link {
                    text-decoration: none;
                    color: var(--black);
                    transition: 0.5s ease;
                }

                &:hover {
                    background-color: var(--blue-light-2);
                }
            }
        }
    }
}


.fish-family__title {
    font-size: 1.5em;
    font-family: "Shantell Sans";
    // font-family: 'YesevaOne-Regular';
    // font-family: 'Rossanova-Regular';
}

.fish-family__link {
    align-self: flex-start;

    &:hover {
        color: var(--black);
    }
}

.characteristics-list {
    margin-top: 0.5rem;
    line-height: 1.5em;
}


// FISH PAGE
.fish-page {
    height: 100vh;
    flex: 1;
    color: #afc0c7;

    .fish-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        gap: 1rem;

        h2 {
            margin-bottom: 0.5rem;
        }

        .fish-img {
            filter: drop-shadow(0rem 0.5rem 0.8rem rgb(5, 38, 47));
        }

        .benefits-box {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin: 1rem 0;

            .icon-box {
                width: 50rem;
                padding: 1rem;
                border-radius: 5px;
                // border-bottom: 1px solid var(--gray-super-light);
                // background-color: #f2f5f5;
                // background-color: #1e536a;
                background-color: #97b7bd;
                color: #13181f;
                box-shadow: 1px 4px 5px 1px rgba(8, 55, 74, 0.5);

                h4 {
                    padding-bottom: 0.5rem;
                }

                svg {
                    margin-right: 0.5rem;
                }
            }
        }

        .specifics {
            margin-top: 1rem;

            .fish-habitat {
                margin: 0.5rem 0;
                gap: 0.5rem;
            }

            .specifics-img {
                margin: 0 1rem;
                margin-right: 1rem;
            }
        }

        .characteristics {
            margin: 1rem 0;

            h3 {
                padding-bottom: 0.2rem;
            }

            ul {
                li {
                    list-style: none;
                    margin: 0.5rem 0.2rem;
                }

                li:before {
                    content: " ≈";
                    padding-right: 5px;
                }
            }
        }

        .habitat {
            .fish-habitat {
                margin: 0.5rem 0;
                gap: 0.5rem;
            }
        }
    }


    .fish-content {
        display: flex;
        justify-content: space-between;

        .fish-description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tag {
                background-color: #248cb9;
            }
        }

        .fish-images {
            .fish-dish-images {
                display: flex;
                margin-top: 1rem;

                .fish-img {
                    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.8);
                }

                img {
                    margin: 0.5rem;
                    border-radius: 10px;

                }
            }
        }
    }

    .btn-back {
        align-self: flex-start;
        cursor: pointer;
        z-index: 100;
    }

    .dish {
        .dish-images {
            img {
                margin: 0;
                border-radius: 15px;
            }
        }
    }
}



// media queries
@media screen and (max-width: 600px) {
    .fish-family-page {
        margin-top: 2rem !important;
        padding-bottom: 5rem;

        .fish {
            flex-direction: column-reverse;

            .fish-list {
                flex-wrap: wrap;
            }
        }
    }

    .families-page {
        margin-top: 3rem;
    }

    .page-all-fish {
        margin-top: 3rem !important;

        .filter {
            width: fit-content;
            flex-wrap: wrap;
            padding: 0.8rem 0.5rem;
            background-color: #095269;
            border-radius: 5px;

            .filter__search,
            .filter__select {
                width: 100%;
            }
        }

        .all-fish-list {
            margin: 2em 0;
        }

        .tag {
            width: fit-content;
            margin: 0.5rem 0;
            margin-left: -0.5rem;
            padding: 0.5rem 0.8rem;
        }
    }

    .fish-page {
        margin-top: 3rem;

        .fish-content {
            flex-direction: column;
        }

        .fish-images {

            img {
                width: 80%;
            }

            .fish-dish-images {
                flex-wrap: wrap;

                img {
                    width: 80%;
                }
            }
        }

        .benefits-box {
            flex-wrap: wrap;
            color: var(--black);
            // background-color: #1e536a;
        }
    }

    .tip-page {
        margin-top: 3rem;

        .tip-content {
            .tip-content-text {
                width: 100%;

                .btn-back {
                    margin-top: 1.5rem;
                }
            }

            img {
                width: 90%;
            }
        }
    }
}